{% include 'breadcrumb' %}

<div class="grid" itemscope itemtype="http://schema.org/Product">
  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">

  <div class="grid-item large--two-fifths">
    <div class="grid">
      <div class="grid-item large--eleven-twelfths text-center">
        <div class="product-photo-container" id="productPhoto" data-index="1" >
            <button class="pswp__button--zoom--preview pswp__button pswp__button--zoom" title="Zoom in/out"></button>
          {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
          <img id="productPhotoImg" src="{{ featured_image | img_url: 'large' }}" alt="{{ featured_image.alt | escape }}" {% if settings.product_image_zoom_enable %} data-zoom="{{ featured_image | img_url: '1024x1024' }}"{% endif %}>
        </div>
        {% if product.images.size > 1 %}
          <ul class="product-photo-thumbs grid-uniform" id="productThumbs">

            {% for image in product.images %}
              <li class="grid-item medium-down--one-quarter large--one-quarter">
                <a href="{{ image.src | img_url: 'large' }}" data-index="{{ forloop.index }}" class="product-photo-thumb">
                  <img src="{{ image.src | img_url: 'compact' }}" alt="{{ image.alt | escape }}">
                </a>
              </li>
            {% endfor %}

          </ul>
        {% endif %}

      </div>
    </div>

  </div>

  <div class="grid-item large--three-fifths">

    <h2 itemprop="name">{{ product.title }}</h2>

    <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">

      {% assign variant = product.selected_or_first_available_variant %}

      <meta itemprop="priceCurrency" content="{{ shop.currency }}">
      <meta itemprop="price" content="{{ variant.price | money }}">

      {% if settings.product_vendor_enable %}
        <p class="product-meta" itemprop="brand">{{ product.vendor }}</p>
      {% endif %}

      <ul class="inline-list product-meta">
        <li>
          <span id="productPrice" class="h1">
            {% include 'price' with variant.price %}
          </span>
        </li>
        {% if product.compare_at_price_max > product.price %}
        <li>
          <span id="comparePrice" class="sale-tag large">
            {% assign compare_price = variant.compare_at_price %}
            {% assign product_price = variant.price %}
            {% include 'price-sale' %}
          </span>
        </li>
        {% endif %}
        {% if settings.product_reviews_enable %}
          <li class="product-meta--review">
            <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
          </li>
        {% endif %}
        <li>
          <span>{{ settings.product_tax_shipping }}</span>
        </li>
      </ul>

      <hr id="variantBreak" class="hr--clear hr--small">

      <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">

      <form action="/cart/add" method="post" enctype="multipart/form-data" id="addToCartForm">
        <select name="id" id="productSelect" class="product-variants">
          {% for variant in product.variants %}
            {% if variant.available %}

              <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>

            {% else %}
              <option disabled="disabled">
                {{ variant.title }} - {{ 'products.product.sold_out' | t }}
              </option>
            {% endif %}

          {% endfor %}
        </select>



        {% if settings.product_quantity_enable %}
          <label for="quantity" class="quantity-selector">{{ 'products.product.quantity' | t }}</label>
          <input type="number" id="quantity" name="quantity" value="1" min="1" class="quantity-selector">
        {% endif %}

        <button type="submit" name="add" id="addToCart" class="btn">
          <span class="icon icon-cart"></span>
          <span id="addToCartText">{{ 'products.product.add_to_cart' | t }}</span>
        </button>
        {% if settings.product_quantity_message %}
          <span id="variantQuantity" class="variant-quantity"></span>
        {% endif %}
      </form>

      <hr>

    </div>

    <div class="product-description rte" itemprop="description">
      {{ product.description }}
    </div>

    {% if settings.social_sharing_products %}
      {% include 'social-sharing' %}
    {% endif %}
    
    <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>

  </div>
</div>

{% if settings.related_products_enable %}
  {% assign grid_item_width = 'large--one-fifth medium--one-third small--one-half' %}
  {% include 'related-products' %}
{% endif %}

{% if settings.product_reviews_enable %}
  <hr>
  <div id="shopify-product-reviews" data-id="{{ product.id }}">{{ product.metafields.spr.reviews }}</div>
{% endif %}

{{ 'option_selection.js' | shopify_asset_url | script_tag }}
<script>

  // Pre-loading product images, to avoid a lag when a thumbnail is clicked, or
  // when a variant is selected that has a variant image.
  Shopify.Image.preload({{ product.images | json }}, 'large');

  var selectCallback = function(variant, selector) {

    var $addToCart = $('#addToCart'),
        $productPrice = $('#productPrice'),
        $comparePrice = $('#comparePrice'),
        $variantQuantity = $('#variantQuantity'),
        $quantityElements = $('.quantity-selector, label + .js-qty'),
        $addToCartText = $('#addToCartText'),
        $featuredImage = $('#productPhotoImg');

    if (variant) {
      // Update variant image, if one is set
      // Call timber.switchImage function in shop.js
      if (variant.featured_image) {
        var newImg = variant.featured_image,
            el = $featuredImage[0];
        $(function() {
          Shopify.Image.switchImage(newImg, el, timber.switchImage);
        });
      }

      // Select a valid variant if available
      if (variant.available) {
        // We have a valid product variant, so enable the submit button
        $addToCart.removeClass('disabled').prop('disabled', false);
        $addToCartText.html({{ 'products.product.add_to_cart' | t | json }});

        // Show how many items are left, if below 10
        {% if settings.product_quantity_message %}
        if (variant.inventory_management) {
          if (variant.inventory_quantity < 10 && variant.inventory_quantity > 0) {
            $variantQuantity.html({{ 'products.product.only_left' | t: count: '1' | json }}.replace('1', variant.inventory_quantity)).addClass('is-visible');
          } else {
            $variantQuantity.removeClass('is-visible');
          }
        }
        {% endif %}


        $quantityElements.show();
      } else {
        // Variant is sold out, disable the submit button
        $addToCart.addClass('disabled').prop('disabled', true);
        $addToCartText.html({{ 'products.product.sold_out' | t | json }});
        $variantQuantity.removeClass('is-visible');
        $quantityElements.hide();
      }

      // Regardless of stock, update the product price
      var customPriceFormat = timber.formatMoney( Shopify.formatMoney(variant.price, "{{ shop.money_format }}") );
      $productPrice.html(customPriceFormat);

      // Also update and show the product's compare price if necessary
      if ( variant.compare_at_price > variant.price ) {
        var priceSaving = timber.formatSaleTag( Shopify.formatMoney(variant.compare_at_price - variant.price, "{{ shop.money_format }}") );
        {% comment %}
        priceSaving += ' (' + ( (variant.compare_at_price - variant.price)*100/(variant.compare_at_price) ).toFixed(0) + '%)';
        {% endcomment %}
        $comparePrice.html({{ 'products.general.save_html' | t: saved_amount: '[$]' | json }}.replace('[$]', priceSaving)).show();
      } else {
        $comparePrice.hide();
      }

    } else {
      // The variant doesn't exist, disable submit button.
      // This may be an error or notice that a specific variant is not available.
      $addToCart.addClass('disabled').prop('disabled', true);
      $addToCartText.html({{ 'products.product.unavailable' | t | json }});
      $variantQuantity.removeClass('is-visible');
      $quantityElements.hide();
    }
  };

  jQuery(function($) {

    new Shopify.OptionSelectors('productSelect', {
      product: {{ product | json }},
      onVariantSelected: selectCallback,
      enableHistoryState: true
    });

    // Hide selectors if we only have 1 variant and its title contains 'Default'.
    {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
      $('.selector-wrapper').hide();
    {% else %}
      $('#variantBreak').removeClass('hr--clear');
    {% endif %}



    <!-- Photoswipe -->
    {% if product.images.size >= 1 %}

        var items = [
                    {% for image in product.images %}

                        {
                        title: '{{ image.alt | escape }}',
                        msrc: '{{ image.src | img_url: '1024x1024' }}',
                        src: '{{ image.src | img_url: '1024x1024' }}',
                        w: 1024,
                        h: 1024

                        },

                    {% endfor %}
                    ];

          sizePopupURL = "{{ 'size-popup.html' | asset_url }}";
          {% if product.options.size == 1 and product.options.first != 'Title' %}
              $('.selector-wrapper:eq(0)').prepend('<label>{{ product.options.first | escape }}</label>');
              {% if product.options.size == 1 and product.options.first == 'Größe' %}
                  $('.selector-wrapper:eq(0)').append('<span class="product-size-popup-link"><a href="#">Wie bemisst man richtig?</a></span>');

                    var sizeObj = {
                        title: 'Bemessungtabelle',
                        msrc: '{{ 'size-info.jpg' | asset_url }}',
                        src: '{{ 'size-info.jpg' | asset_url }}',
                        w: 1024,
                        h: 1024

                    };

                    items.push(sizeObj);

                    $('.product-size-popup-link').click(function(e){

                      /*
                       var width = 440;
                       var height = 360;
                       var left = parseInt((screen.availWidth/2) - (width/2));
                       var top = parseInt((screen.availHeight/2) - (height/2));

                       window.open(sizePopupURL, 'sharer', 'top=' + top + ',left=' + left + ',toolbar=0,status=0,location=no,width='+width+',height='+height);
                       e.preventDefault();*/

                        sizeChartImageOpen = true;
                        openPhotoSwipe(items.length-1);
                        e.preventDefault();

                  });

              {% endif %}

          {% endif %}

        var $productPhoto = $('#productPhoto');

        var openPhotoSwipe = function(pIndex) {
            var pswpElement = document.querySelectorAll('.pswp')[0];
            if(!pIndex) pIndex = 0;

            // define options (if needed)
            var options = {
                index: pIndex // start at this slide
                ,history: false
                ,getThumbBoundsFn: function(index) {

                     // find thumbnail element
                     var thumbnail = document.getElementById('productPhoto');

                     // get window scroll Y
                     var pageYScroll = window.pageYOffset || document.documentElement.scrollTop;
                     // optionally get horizontal scroll

                     // get position of element relative to viewport
                     var rect = thumbnail.getBoundingClientRect();

                     return {x:rect.left, y:rect.top + pageYScroll, w:rect.width};
                 }

            };

            // Initializes and opens PhotoSwipe
            var gallery = new PhotoSwipe( pswpElement, PhotoSwipeUI_Default, items, options);
            gallery.listen('afterChange', function() {
                 //set productPhoto after Photoswipe changes
                 $productPhoto.attr('data-index', gallery.getCurrentIndex()+1)
                              .find('#productPhotoImg').attr('data-zoom', gallery.currItem.src)
                                                       .attr('src', gallery.currItem.src).end()
                              .find('.zoomImg').attr('src', gallery.currItem.src);

            });
            gallery.listen('initialZoomOut', function() {
                if(sizeChartImageOpen){
                    gallery.goTo(0);
                    sizeChartImageOpen=false;
                }
            });
            gallery.init();
        }

        $productPhoto.click(function(){
                var i = parseInt($(this).attr('data-index'))-1;
                openPhotoSwipe(i);
        });

        $('.product-photo-thumb').click(function(){
            var i = $(this).data("index");
            $productPhoto.attr('data-index', i);
        });



    {% endif %}


  });
</script>

{% if settings.product_image_zoom_enable %}
  {{ 'jquery.zoom.min.js' | asset_url | script_tag }}
{% endif %}
